@import "./../../scss/variables";

.chart {
    width: 100%;
    aspect-ratio: 2/1;
    margin: 0 auto;
    font-size: 13px;
}

tspan {
    &.name {
        font-weight: $fw-bold;
    }
    &.cat-regional {
        fill: $tis-orange;
    }
    &.cat-local {
        fill: $tis-light-blue
    }
}