@use 'sass:map';
@import './../../scss/variables';

.articles {
  & > .col-md-12 + .col-md-12 {
    border-top: 1px solid $tis-grey;
  }
}

.article {
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $tis-grey;
    h2 {
      text-decoration: none;
    }
  }
  h2 {
    color: $tis-orange;
    text-decoration: underline;
  }
  .thumb {
    figure {
      // padding: 5px;
      margin: 0;
    }
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  &.analysis-preview {
    .thumb {
      figure {
        padding: 10px;
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%) rotate(45deg) translate(0, 250%);
          color: #fff;
          font-size: 12px;
          line-height: 1.75em;
          text-align: center;
          padding: 0 25%;
          width: 100%;
        }
        &.tis-good {
          border: 2px solid $tis-score-green;
          &:after {
            background-color: $tis-score-green;
            content: 'transparentná';
          }
        }
        &.tis-average {
          border: 2px solid $tis-score-orange;
          &:after {
            background-color: $tis-score-orange;
            content: 's výhradami';
          }
        }
        &.tis-bad {
          border: 2px solid $tis-score-red;
          &.tis-bad:after {
            background-color: $tis-score-red;
            content: 'netransparentná';
          }
        }
      }
    }
  }
}

.article-date {
  font-style: italic;
  &:before {
    content: '📅';
    font-style: normal;
    margin-right: 0.25em;
  }
}

ul.blocks-gallery-grid {
  list-style: none;
  padding: 0;
}

@media (min-width: map.get($grid-breakpoints, 'md')) {
  .article {
    .thumb {
      height: 0;
      overflow: hidden;
      padding-top: 100%;
      position: relative;
      figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media (min-width: map.get($grid-breakpoints, 'xxl')) {
  .articles.condensed .article {
    .thumb {
      height: auto;
      padding-top: 0;
      figure {
        position: relative;
      }
      img {
        max-height: 250px;
        position: relative;
        top: 0;
        transform: none;
      }
    }
  }
}
