@import "./scss/variables";

/* import bootstrap to apply variables changes */
@import "~bootstrap/scss/bootstrap";

/* font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:#{$fw-regular},#{$fw-bold}&subset=latin,latin-ext);
$font-family: 'Ubuntu';
body {
  font-family: $font-family, sans-serif;
  // font-size: 13px;
  font-weight: $fw-regular;
  margin: 0;
  line-height: 1.42857143;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, keygen, select, option, button {
  font-family: $font-family, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 0 20px;
}

h1 {
  text-align: center;
  color: $tis-dark-blue;
  font-weight: $fw-bold;
}

h2, h3, h4 {
  color: $tis-light-blue;
}

.updated {
  color: #ccc;
  display: block;
  font-size: 13px;
  font-weight: $fw-regular;
  margin-right: 5px;
  text-align: right;
  .text-center & {
    text-align: inherit;
  }
}

.loading {
  min-height: 300px;
}

.btn-xl {
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 2rem;
  font-weight: 600;
}

/* bootstrap changes */
.navbar-brand img {
  height: 38px;
}

// .nav-link {
//   &:hover, &:focus {
//     color: var(--bs-nav-pills-link-active-color);
//     background-color: var(--bs-nav-pills-link-active-bg);
//   }
// }

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-bg: #{$tis-dark-blue};
  --bs-btn-hover-border-color: #{$tis-dark-blue};
}
