@import "./scss/variables";

/* import bootstrap to apply variables changes */
@import "~bootstrap/scss/bootstrap";

/* font */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:#{$fw-regular},#{$fw-bold}&subset=latin,latin-ext);
$font-family: 'Ubuntu';
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-family: $font-family, sans-serif;
  font-weight: $fw-regular;
  // line-height: 1.42857143;
  margin: 0;
}

input, textarea, keygen, select, option, button {
  font-family: $font-family, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: $tis-dark-blue;
  font-weight: $fw-bold;
}

h2, h3, h4 {
  color: $tis-light-blue;
}

.layout-default {
  display: flex; 
  flex-direction: column; 
  height: 100vh;
}

.updated {
  color: #ccc;
  display: block;
  font-size: 13px;
  font-weight: $fw-regular;
  margin-right: 5px;
  text-align: right;
  .text-center & {
    text-align: inherit;
  }
}

.btn-xl {
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 2rem;
  font-weight: 600;
}

/* bootstrap changes */
.navbar-brand img {
  height: 38px;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-bg: #{$tis-dark-blue};
  --bs-btn-hover-border-color: #{$tis-dark-blue};
}

.footer-top {
  background-color: $tis-grey;
  h2 {
    color: $tis-dark-blue;
    font-weight: $fw-bold;
  }
  .logo {
    max-width: 100%;
    width: 200px;
  }
}

.footer-bottom {
  background-color: $tis-dark-blue;
  color: white;
  font-size: 12px;
  a {
    &, &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}
